### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [42]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding="ISO-8859-1")

## Player Count

* Display the total number of players

In [43]:

total_players = purchase_data.SN.nunique()
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
renamed_df = purchase_data.rename(columns={"Item Name": "item_name"})
unique_items = renamed_df.item_name.nunique()
average_price = round(renamed_df["Price"].mean(), 2)
total_purchases = len(renamed_df)
total_revenue = renamed_df["Price"].sum()
summary_df = pd.DataFrame({"Total Unique Items": unique_items,
                         "Average Price": average_price,
                          "Total Purchases": total_purchases,
                          "Total Revenue": [total_revenue]})
summary_df["Average Price"] = summary_df["Average Price"].map('${:,.2f}'.format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map('${:,.2f}'.format)
summary_df

   Total Unique Items Average Price  Total Purchases Total Revenue
0                 179         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [45]:
# Drop the duplicates of players who have more than one entry
count_df = renamed_df.sort_values('Gender', ascending=False)
count_df = count_df.drop_duplicates(subset='SN', keep='first')
# Count the number and percentage of each gender based on the cleaned dataframe
gender_count = count_df["Gender"].value_counts()
gender_percentage = count_df["Gender"].value_counts(normalize = True)
gender_df = pd.DataFrame({"Total Count": gender_count,
                          "Percentage of Players": gender_percentage})
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].astype(float).map('{:.2%}'.format)
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
grouped_gender_df = renamed_df.groupby(["Gender"])
purchase_count = grouped_gender_df["Gender"].count()
average_purchase_price = round(grouped_gender_df["Price"].mean(), 2)
total_purchase_value = grouped_gender_df["Price"].sum()
per_person = round(total_purchase_value/gender_count, 2)
purchase_df = pd.DataFrame({"Purchase Count": purchase_count,
                           "Average Purchase Price": average_purchase_price,
                           "Total Purchase Value": total_purchase_value,
                           "Average Total Purchase per Person": per_person})
purchase_df["Average Purchase Price"] = purchase_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_df["Total Purchase Value"] = purchase_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_df["Average Total Purchase per Person"] = purchase_df["Average Total Purchase per Person"].map("${:,.2f}".format)
purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [47]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df["Age Ranges"] = pd.cut(df["Age"],bins, labels=group_names)
grouped_age_df = df.groupby("Age Ranges")
age_count = grouped_age_df["Age Ranges"].count()
age_percentage = age_count/total_players
age_df = pd.DataFrame({"Total Count": age_count,
                          "Percentage of Players": age_percentage})
age_df["Percentage of Players"] = age_df["Percentage of Players"].astype(float).map('{:.2%}'.format)
age_df

C:\Users\sanup\anaconda3\lib\site-packages\pandas\core\reshape\tile.py:407: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  ids = ensure_int64(bins.searchsorted(x, side=side))

TypeError: '<' not supported between instances of 'float' and 'tuple'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
df = renamed_df
df["Age Ranges"] = pd.cut(df["Age"],bins, labels=group_names)
grouped_age_df = df.groupby("Age Ranges")
age_purchase_count = grouped_age_df["Age Ranges"].count()
age_average_purchase = round(grouped_age_df["Price"].mean(), 2)
age_total_value = grouped_age_df["Price"].sum()
age_per_person = round(age_total_value/age_count, 2)
age_purchase_df = pd.DataFrame({"Purchase Count": age_purchase_count,
                           "Average Purchase Price": age_average_purchase,
                           "Total Purchase Value": age_total_value,
                           "Avg Total Purchase per Person": age_per_person})
age_purchase_df["Average Purchase Price"] = age_purchase_df["Average Purchase Price"].map("${:,.2f}".format)
age_purchase_df["Total Purchase Value"] = age_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
age_purchase_df["Avg Total Purchase per Person"] = age_purchase_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
df = renamed_df
grouped_sn_df = df.groupby("SN")
sn_purchase_count = grouped_sn_df["SN"].count()
sn_total_purchase = grouped_sn_df["Price"].sum()
sn_average_purchase = round(sn_total_purchase/sn_purchase_count, 2)
spender_df = pd.DataFrame({"Purchase Count": sn_purchase_count,
                          "Average Purchase Price": sn_average_purchase,
                          "Total Purchase Value": sn_total_purchase})
top_spender_df = spender_df.sort_values("Total Purchase Value", ascending=False)
top_spender_df["Average Purchase Price"] = top_spender_df["Average Purchase Price"].map("${:,.2f}".format)
top_spender_df["Total Purchase Value"] = top_spender_df["Total Purchase Value"].map("${:,.2f}".format)
top_spender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [50]:
df = purchase_data
df = df.groupby(["Item ID","Item Name"])
item_purchase_count = df["Item ID"].count()
item_price = round(df["Price"].mean(), 2)
item_total_value = df["Price"].sum()
popular_df = pd.DataFrame({"Purchase Count": item_purchase_count,
                          "Item Price": item_price,
                          "Total Purchase Value": item_total_value})
most_popular_df = popular_df.sort_values("Purchase Count", ascending=False)
most_popular_df["Item Price"] = most_popular_df["Item Price"].map("${:,.2f}".format)
most_popular_df["Total Purchase Value"] = most_popular_df["Total Purchase Value"].map("${:,.2f}".format)
most_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [51]:
most_profitable_df = popular_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_df["Item Price"] = most_profitable_df["Item Price"].map("${:,.2f}".format)
most_profitable_df["Total Purchase Value"] = most_profitable_df["Total Purchase Value"].map("${:,.2f}".format)
most_profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80